<html>
 <body>
   <p>
     <h2>Please input a 'shout'...</h2>
   </p>
<table>
   <form action="/" method="get">
<tr><th><label>Your Password, Baby</label></th>
     <td><input name="password" placeholder="Password"/></td></tr>
<tr><th><label>Your Shout...</label></th>
     <td><input name="shout" placeholder="Shout your lungs out here!" size="200" /></td></tr>
     <tr><th><input type="submit" /></th></tr>
   </form>
</table>
   <% if @a_message %>
         <h2><%= @a_message.to_s %></h2>
   <% end %>
<table><tr><th>Name</th><th>Handle</th><th>Message</th><th>Time</th></tr>

   <% if @shoutlist.any? %>
       <% @shoutlist.each do |sh| %>
         <%= '<tr><td>' + sh[0] + '</th><td>' + sh[1] + '</td><td>' + sh[2] + '</td><td>' + sh[3] + '</td></tr>'  %>
       <% end %>
   <% end %>
   </table>
 </body>
</html>